<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>vue-todomvc</title>
    <style type="text/css">
      [v-cloak] { display: none; }
      .store-menu{
        margin-top: 20px;
      }
      .store-menu .filters li a{
        color: #070b48;
        background-color: #e5e7f3;
        font-size: 16px;
      }
    </style>
  </head>
  <body>

    <div id="switcharoo">
      <section  class="footer store-menu" >
          <ul class="filters">
            <li><a href="#" class="selected" v-show="showList != 'local'" @click="showLocalStore()">Show Local Storage</a></li>
            <li><a href="#" class="selected" v-show="showList != 'rest'" @click="showRestStore()">Show Rest API</a></li>
          </ul>
      </section>
      <div v-show="showList === 'rest'"><div id="todoapp-rest"></div></div>
      <div v-show="showList === 'local'"><div id="todoapp-local"></div></div>
    </div>

    <script type="text/x-template" id="todoapp-tpl">
    <div>
    <section class="todoapp" v-cloak>
      <header class="header">
        <h1>{{name}} todos</h1>
        <div v-show="errors.message" style="padding:5px;border:1px solid orange; color:#c4641b"><p>{{ errors.message }}</p></div>
        <input class="new-todo"
          autofocus autocomplete="off"
          placeholder="What needs to be done?"
          @keyup.enter="addTodo">
      </header>

      <section class="main" v-show="todos.length" >
        <input class="toggle-all" type="checkbox"
          :checked="allChecked"
          @change="toggleAll({ completed: !allChecked })">
        <ul class="todo-list">
          <li v-for="todo in filteredTodos"
            class="todo"
            :key="todo.id"
            :class="{ completed: todo.completed, editing: todo == activeItem }">
            <div class="view">
              <input class="toggle" type="checkbox" :checked="todo.completed"
                @click="toggleCompleted({todo, completed: !todo.completed})" >
              <label @dblclick="editTodo(todo)">{{ todo.title }}</label>
              <button class="destroy" @click="remove(todo)"></button>
            </div>
            <input class="edit" type="text"
              v-todo-focus="todo == activeItem"
              v-model="editingTodo.title"
              @keyup.enter="doneEdit()"
              @keyup.esc="resetEdit()"
              @blur="doneEdit()">
          </li>
        </ul>
      </section>

      <footer class="footer" v-show="todos.length" v-cloak>
        <span class="todo-count">
          <strong>{{ remaining }}</strong> {{ remaining | pluralize }} left
        </span>
        <ul class="filters">
          <li><router-link to="/all" :class="{ selected: visibility == 'all' }">All</router-link></li>
          <li><router-link to="/active" :class="{ selected: visibility == 'active' }">Active</router-link></li>
          <li><router-link to="/completed" :class="{ selected: visibility == 'completed' }">Completed</router-link></li>
        </ul>
        <button class="clear-completed" @click="removeCompleted()" v-show="todos.length > remaining">
          Clear completed
        </button>
      </footer>

    </section>
    </div>

    </script>
    <footer class="info">
      <p>Double-click to edit a todo</p>
      <p>Written by <a href="http://evanyou.me">Evan You</a></p>
      <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
    </footer>

    <!-- built files will be auto injected -->
  </body>
</html>
